@import url("https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap");
/* cursor > pointer */
.cursor {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.blogImage {
  height: 70hv;
}

b:hover{
    color: rgb(9, 97, 68);
}

.read-mores{
    color: rgb(9, 97, 68);
}
.theTitle:hover{
    color: rgb(27, 212, 151);
}

.commentss{
    background-color: rgba(255, 255, 255, 0.192);
    width: 100%;
    height: 25em;
    min-width: 100%;
    max-width: 100%;
    min-height: 25em;
    max-height: 253m;
    padding: 1.4em;

}
.inputs{
    height: 4em;
}


/* .wrapper{
    display: flex;
    justify-content: space-between;
} */